<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.selfietime.selfietime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:name=".SelfieTime"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ProfileEditActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".NewSelfieActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".CommentsActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".FollowersActivity" />
        <activity android:name=".FollowingsActivity" />
        <activity android:name=".ViewsActivity" />
        <activity android:name=".LikesActivity" />
        <activity android:name=".StoryActivity" />
        <activity android:name=".AddStoryActivity" />
        <activity android:name=".WishActivity" />
        <activity android:name=".GreetingActivity" />
        <activity android:name=".GreetingsActivity" />
        <activity android:name=".CompetitionActivity" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".InterstitialAdActivity" />
        <activity android:name=".OpenSourcesActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".Notification.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".Notification.MyFirebaseMessageing">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>